.autor-date {
    font-size: small;
    text-align: right;
    background: #eee;
    padding: .25rem;
    font-style: italic;
  }

  @media (prefers-color-scheme: dark) {
   .autor-date {
       background:rgb(59,59,59);
   }    

  }