<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">error404</ion-title>

    <ion-icon name="phone-portrait" slot="end"
    size="large" class="ion-margin-end" routerLink="/home" color="danger"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
<h2> ops</h2>
<ion-img src="assets/error.png" alt="404 error"></ion-img>
<p> Use a navegação para sair dessa página.</p>

<p><ion-button><ion-icon name="home-outline">

</ion-icon>Inicio</ion-button></p>
</ion-content>
